In [2]:
import numpy as np
import pandas as pd
import pendulum
from datetime import datetime
from pathlib import Path

In [3]:
start = pendulum.date(2017, 9, 1)
end = pendulum.date(2019, 1, 1)
dates_range = pendulum.period(start, end)
dfs = []
for date in dates_range.range("days"):
    path = "/home/huxley/data/s1-data/F01451_StoreSale_"
    path += date.format("%Y_%m_%d")
    file = Path(path)
    if file.is_file():
        df = pd.read_csv(path,
                         sep=";",
                         header=None,
                         usecols=[1, 2, 4, 5, 8, 9, 11, 13, 17, 18, 21, 22],
                         names=["date", "ean", "id", "name",
                                "category", "qty", "sales",
                                "profit", "unit", "vat",
                                "weight", "category-id"],
                         parse_dates=[0],
                         date_parser=lambda x: datetime.strptime(x, "%Y-%m-%d"),
                         encoding="windows-1250")
        dfs.append(df)
df = pd.concat(dfs)
df["month"] = df["date"].apply(lambda x: x.replace(day=1))
df.head()

,date,ean,id,name,category,qty,sales,profit,unit,vat,weight,category-id,month
0,2017-09-01,2900367000000,000034,RYBY WĘDZONE A MIX kg,Ryby wędzone Waga [z],0.158,3.09,0.63,kg,5,1.00,40204,2017-09-01
1,2017-09-01,5907228003163,000098,JEDNORAZOWE DEGRAD.30/54 X100,Artykuły kosztowe,48.000,3.90,1.02,szt,23,1.00,80201,2017-09-01
2,2017-09-01,5906040063089,000337,JOGURT ZOTT NATURALNY B/CUK.180G,Jogurty,2.000,2.19,0.37,szt,5,0.18,60802,2017-09-01
3,2017-09-01,2901357000000,000435,MIĘSO WOŁOWE ROSOŁOWE kg,Wołowina Waga [z],2.480,33.04,6.22,kg,5,1.00,40704,2017-09-01
4,2017-09-01,8034034314507,000564,NÓŻ SANTOKU 18CM,Artykuły kosztowe,1.000,24.38,0.00,szt,23,1.00,80201,2017-09-01

In [35]:
tmp_df = df[df["date"] >= datetime(2017, 10, 1)]
tmp_df["margin"] = tmp_df["profit"] / tmp_df["sales"]
tmp_df.head()

/usr/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,date,ean,id,name,category,qty,sales,profit,unit,vat,weight,category-id,month,margin
0,2017-10-01,5900226008048,000012,"DRINK IMPRESS KAMIKAZE 4,4% 0,25 L",Drinki,2.000,6.26,1.08,szt,23,0.25,10402,2017-10-01,0.172524
1,2017-10-01,5907228003163,000098,JEDNORAZOWE DEGRAD.30/54 X100,Artykuły kosztowe,16.000,1.30,0.34,szt,23,1.00,80201,2017-10-01,0.261538
2,2017-10-01,2901357000000,000435,MIĘSO WOŁOWE ROSOŁOWE kg,Wołowina Waga [z],0.324,4.04,0.16,kg,5,1.00,40704,2017-10-01,0.039604
3,2017-10-01,8034034314484,000576,NÓŻ DO WARZYW 9CM,Artykuły kosztowe,1.000,14.63,0.00,szt,23,1.00,80201,2017-10-01,0.000000
4,2017-10-01,8034034314514,000668,NÓŻ KUCHENNY 13CM,Artykuły kosztowe,1.000,16.25,0.00,szt,23,1.00,80201,2017-10-01,0.000000

In [ ]:
tmp_df = tmp_df.groupby("month").agg({"name": "last", "category": "last", "qty": np.sum, "sales": np.sum, "profit": np.sum})
tmp_df["margin"] =